PRE, LI, UL, OL, P, TR, TD { 
	font-size: 10pt;
	font-family : Verdana, Arial, Helvetica;
	font-weight : normal;
	font-style : normal;
	color : black;
}

BODY {
	font-size: 10pt;
	font-weight : normal;
	font-style : normal;
	font-family : Verdana, Arial, Helvetica;
	color: #3165ce;
}

H1 {
	font-size : 16pt;
	font-weight : bold;
	font-style : normal;
	font-family : Arial;
	color : #3165ce;
}

H2 { 
	font-size : 14pt;
	font-weight: bold; 
	font-style : normal;
	font-family : Verdana, Arial, Helvetica;
	color : #3165ce;
}

H3 { 
	font-size : 12pt;
	font-weight: bold; 
	font-style : normal;
	font-family : Verdana, Arial, Helvetica;
	color : #3165ce;
}

A { 
	font-size : 10pt;
	font-weight : normal;
	font-style : normal;
	font-family : Verdana, Arial, Helvetica;
	text-decoration: none;
	color: blue;
}

A:link, A:visited {
	color: blue;
}

A:active {
	color: red;
}

A:hover {
	color: blue;
	text-decoration: underline;
}
